.filter {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: .8rem 1.2rem;
    border-radius: 999px;
    border: 1px solid var(--border-gray);
    background-color: var(--white);

    font-size: 1rem;
    font-weight: 500;
    color: var(--heavy-gray);
    cursor: pointer;
    white-space: nowrap;

    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.filter:hover {
    border-color: var(--solid-green);
}

.filter.active {
    background-color: var(--solid-green);
    border-color: var(--solid-green);
    color: var(--white);
    font-weight: 600;
}